.ItemInMain {
  width: 50%;
  height: 50px;
  border: 1px solid #c1e2b3;
  position: absolute;
  > .itemName{
    width: 100%;
    height: 40%;
    border-bottom: 1px solid #adadad;
  }
  > .itemDes{
    width: 100%;
    height: 40%;
    border-bottom: 1px solid #adadad;
  }
  > .itemTime{
    width: 100%;
    height: 20%;
  }
}