.ItemInMain {
  width: calc(35% - 40px);
  //width: 35%;
  height: 80px;
  border: 5px solid #32CD32;
  position: absolute;
  z-index: auto;
  background-color: #FFFAFA;
  > .itemName{
    width: 100%;
    height: 40%;
    border-bottom: 1px solid #adadad;
    //background-color: #adadad;
    text-align: center;
    overflow: hidden;
  }
  > .itemDes{
    width: 100%;
    height: 60%;
    //border-bottom: 1px solid #adadad;
    text-align: center;
    overflow: hidden;
    //background-color: #c1e2b3;
  }
  //> .itemTime{
  //  width: 100%;
  //  height: 20%;
  //  text-align: center;
  //  //background-color: #a6e1ec;
  //}
}

.ItemInMain:hover{
  z-index: 1000;
  background-color: #c1e2b3;
  height: 160px;
}

.ItemInMainD {
  width: calc(35% - 40px);
  //width: 35%;
  height: auto;
  //min-height: 80px;
  border: 5px solid #BC8F8F;
  position: absolute;
  z-index: auto;
  background-color: #FFFAFA;
  cursor: pointer;
  > .itemNameO{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #adadad;
    //background-color: #adadad;
    display: flex;
    > .tFlag{
      width: 10%;
    }
    > .itemName {
      width: 80%;
      text-align: center;
      overflow: hidden;
      //background-color: #a6e1ec;
    }
    > .fFlag{
      width: 10%;
    }
  }
  > .itemDes{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #adadad;
    text-align: center;
    //background-color: #c1e2b3;
    overflow: hidden;
  }
  > .itemTips{
    display: none;
  }
  > .itemTime {
    width: 100%;
    height: 0%;
    display: none;
  }
  > .itemButtons{
    width: 100%;
    height: 0%;
    display: none;
  }
}

.ItemInMainD:hover{
  z-index: 1000;
  color: #fff;
  background-color: #4cae4c;
  height: auto;
  > .itemName{
    height: auto;
    min-height: 25px;
  }
  > .itemDes{
    height: auto;
    min-height: 50px;
    border-bottom: 1px solid #adadad;
  }
  > .itemTips{
    height: auto;
    display: block;
  }
  > .itemTime{
    width: 100%;
    height: 25px;
    display: flex;
    border-bottom: 1px solid #adadad;
    > .startYear{
      width: 50%;
      border-right: 1px solid #adadad;
    }
    > .endYear{
      width: 50%;
    }
  }
  > .itemButtons {
    width: 100%;
    height: 25px;
    display: flex;
    padding-left: 10px;
    //color: #fff;
    //float: right;
    //text-align: center;
    > .button1 {
      width: 30px;
      height: 24px;
      //margin: 0 auto;
      background: url("../images/delete_white.png") no-repeat;
    }
    > .button1:hover {
      background: url("../images/delete_solid_white.png") no-repeat;
    }
    > .button2 {
      width: 30px;
      height: 24px;
      //margin: 0 auto;
      background: url("../images/delete_white.png") no-repeat;
    }
    > .button2:hover {
      background: url("../images/delete_solid_white.png") no-repeat;
    }
    > .button3 {
      width: 30px;
      height: 24px;
      //margin: 0 auto;
      background: url("../images/delete_white.png") no-repeat;
    }
    > .button3:hover {
      background: url("../images/delete_solid_white.png") no-repeat;
    }
    > .button4 {
      width: 30px;
      height: 24px;
      //margin: 0 auto;
      background: url("../images/delete_white.png") no-repeat;
    }
    > .button4:hover {
      background: url("../images/delete_solid_white.png") no-repeat;
    }
  }
}