.projectsListItem{
  width: 360px;
  margin: 20px auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  >.item{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  >.info{
    display: inline-block;
    width: 200px;
    .name{
      color: #15daff;
      margin: 10px auto;
      font-size: 18px;
    }
    .weigth{
      font-size: 15px;
    }
  }
  >.btndiv{
    display: inline-block;
    //在不定高度的div中垂直居中
    -webkit-transform: translateX(0%) translateY(-50%);
    button{
      width: 80px;
      height: 30px;
      border-radius: 5px;
      background-color: #0ff2ff;
      border: none;
      color: #ffffff;
    }
  }
}